.mainMessageBox {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  background: transparent;
  width: 350px;
  height: 260px;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  overflow-y: hidden;
}
.mainMessageBox::-webkit-scrollbar {
  display: none;
}

.subMessageBox {
  position: relative;
  background: rgb(255, 255, 255);
  width: 340px;
  min-height: 55px;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transform: translateX(100%);
  animation: moveleft 0.5s linear forwards;
}

.tableBox {
  position: relative;
  z-index: 200;
}

@keyframes moveleft {
  100% {
    transform: translateX(0);
  }
}

.subMessageBox .icon {
  font-size: 28px;
  margin-right: 10px;
}
.subMessageBox .check {
  color: green;
}
.subMessageBox .Warning {
  color: orange;
}
.subMessageBox .xMark {
  color: red;
}
.subMessageBox .textMessage {
  font-size: 15px;
  font-weight: bold;
}

.subMessageBox::after {
  position: absolute;
  bottom: -2%;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  animation: lineAnim 4s linear forwards 0.5s !important;
}
.subMessageBox.check::after {
  background: green;
}
.subMessageBox.Warning::after {
  background: orange;
}
.subMessageBox.xMark::after {
  background: red;
}
@keyframes lineAnim {
  100% {
    width: 0;
  }
}

@media only screen and (max-width: 470.98px) {
  .mainMessageBox {
    width: 240px;
    height: 140px;
    right: 5px;
    bottom: 5px;
    gap: 5px;
  }
  .subMessageBox {
    width: 95%;
    min-height: 30px;
    right: 5px;
    bottom: 5px;
    padding: 0 10px;
    transform: translateX(120%);
    margin-left: 5%;
  }
  .subMessageBox .icon {
    font-size: 17px;
  }
  .subMessageBox .textMessage {
    font-size: 14px;
  }
  .subMessageBox::after {
    height: 2px;
  }
}

@media only screen and (min-width: 470.98px) and (max-width: 575.98px) {
  .mainMessageBox {
    width: 270px;
    height: 160px;
    right: 5px;
    bottom: 5px;
    gap: 5px;
  }
  .subMessageBox {
    width: 95%;
    min-height: 35px;
    right: 5px;
    bottom: 5px;
    padding: 0 10px;
    transform: translateX(120%);
    margin-left: 5%;
  }
  .subMessageBox .icon {
    font-size: 20px;
  }
  .subMessageBox .textMessage {
    font-size: 15px;
  }
  .subMessageBox::after {
    height: 3px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .mainMessageBox {
    width: 300px;
    height: 180px;
    right: 5px;
    bottom: 5px;
    gap: 5px;
  }
  .subMessageBox {
    width: 98%;
    min-height: 40px;
    right: 5px;
    bottom: 5px;
    padding: 0 10px;
    transform: translateX(120%);
    margin-left: 3%;
  }
  .subMessageBox .icon {
    font-size: 22px;
  }
  .subMessageBox .textMessage {
    font-size: 16px;
  }
  .subMessageBox::after {
    height: 3px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .mainMessageBox {
    width: 300px;
    height: 180px;
    right: 5px;
    bottom: 5px;
    gap: 5px;
  }
  .subMessageBox {
    width: 98%;
    min-height: 40px;
    right: 5px;
    bottom: 5px;
    padding: 0 10px;
    transform: translateX(120%);
    margin-left: 3%;
  }
  .subMessageBox .icon {
    font-size: 22px;
  }
  .subMessageBox .textMessage {
    font-size: 16px;
  }
  .subMessageBox::after {
    height: 3px;
  }
}
