
.imgBox,
.menuImgBox {
  flex-shrink: 0;
  border: 2px solid var(--yellowTextColor);
}

.jobSeekerPage .pageTitle {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.jobSeekerPage {
  height: 100vh;
}
.jobSeekerPage .exitIcon {
  color: red;
  font-size: 27px;
}
.jobSeekerPage .menuBox {
  height: 100vh;
  width: 21%;
  border-right: 2px solid white;
}

.jobSeekerPage .menuContent {
  height: 100vh;
  width: 78%;
  overflow-y: scroll;
  padding-left: 15px;
}
.jobSeekerPage .heading h3 {
  font-size: 30px;
}
.jobSeekerPage .heading p {
  font-size: 19px;
}
.jobSeekerPage .heading {
  margin-bottom: 20px;
}
.jobSeekerPage .menuContent::-webkit-scrollbar {
  display: none;
}
.jobSeekerPage .logoName {
  font-size: 35px !important;
}
.jobSeekerPage ul li:hover {
  background-color: var(--yellowTextColor);
}
.menuList .menuItem {
  font-size: 25px !important;
  margin-bottom: 12px;
  padding: 8px 0 8px 20px !important;
  cursor: pointer;
}
.menuList .menuIcon {
  font-size: 28px !important;
}

.menuImgBox {
  width: 50px;
  height: 50px;
}
.menuImgBox img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.applicationStatus .databox > div {
  border: 1px solid var(--yellowTextColor);
  margin-bottom: 20px;
}
.pieGraphBox > div {
  border: 2px solid white;
}
.databox > div {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dbList .imgBox {
  width: 70px;
  height: 70px;
}
.dbList .status {
  border-radius: 30px;
  height: 35px;
}
.dbList > div {
  width: 99%;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 20px;
}
.dbList .nameBox {
  width: 55%;
}
.dbList .statusBox {
  width: 13%;
}
.dbList .dateBox {
  width: 15%;
}
.findJob .field {
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.findJob .jobTitleBox {
  width: 32%;
}
.findJob .LocationBox {
  width: 32%;
}
.findJob .jobTypeBOX {
  width: 15%;
}
.findJob .ExperienceBOX {
  width: 15%;
}

.findJob .field .icon {
  font-size: 22px;
  margin-right: 8px;
  color: var(--yellowTextColor);
}

.findJob .field input,
.findJob .field select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 18px;
}
.findJob .field input::placeholder {
  color: white;
}
.findJob .field select option {
  color: black;
}
.findJob .jobList .jobCard {
  width: 32.3%;
  border: 1px solid rgba(255, 255, 255, 0.722);
  border-radius: 10px;
  padding: 15px;
}
.findJob .jobCard .imgBox {
  width: 70px;
  height: 70px;
  background: transparent;
  flex-shrink: 0;  
}
.findJob .jobCard .detailItem {
  margin-bottom: 5px;
}
.findJob .jobCard .buttonBox .detailBtn {
  border: 2px solid var(--yellowTextColor);
  color: var(--yellowTextColor);
}
.findJob .jobCard .buttonBox .applyBtn {
  background-color: var(--yellowTextColor);
  font-weight: bold;
}
.findJob .jobCard .agoBox {
  font-size: 13px;
  top: 5px;
  right: 13px;
}
.findJob .jobCard .description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.findJob .jobCard .companyName {
  color: var(--yellowTextColor);
}
.findJob .recommendedJob {
  font-size: 33px;
}
.jobApply option {
  color: black;
}
.jobApply .tableContainer {
  overflow-y: scroll;
  height: 76vh;
  white-space: nowrap;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0 10px;
}
.jobApply .tableHead {
  background-color: #1c1c1c;
}
.jobApply .tableContainer::-webkit-scrollbar {
  display: none;
}
.jobApply table {
  width: 100%;
}
.jobApply table,
.jobApply th {
  padding: 3px;
  text-align: center;
}
.jobApply thead {
  border-bottom: 1px solid white;
  color: var(--yellowTextColor);
}
.jobApply th {
  font-size: 20px;
  padding: 8px 5px;
}
.jobApply td {
  font-size: 20px;
}
.jobApply .status span {
  padding: 4px 15px;
  border-radius: 20px;
  font-weight: bold;
}
.jobApply .company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.jobApply tbody tr {
  border-bottom: 1px solid white;
}
.jobApply tbody td {
  padding: 7px 0;
}

.jobApply .tableLine {
  top: 0;
  width: 100%;
}
.jobApply .field {
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.jobApply .field input,
.jobApply .field select {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 18px;
}
.jobApply .field input::placeholder {
  color: white;
}
.jobApply .filter {
  width: 14%;
}
.jobApply .jobTitleBox {
  width: 30%;
}
.jobApply .filter > .icon,
.jobApply .jobTitleBox > .icon {
  color: var(--yellowTextColor);
}

.jobApply .iconBox button {
  background: transparent;
  border: none;
}
.jobApply .iconBox .deleteIcon {
  color: red;
}
.jobApply .iconBox .viewIcon {
  color: #00ff99;
}
.profile .info {
  height: 83vh;
  width: 70%;
}
.profile .boxHead {
  font-size: 37px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
.profile .boxHead::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--yellowTextColor);
  border-radius: 2px;
  margin-top: 5px;
}
.profile .additionalInfo {
  height: 83vh;
  width: 28%;
}
.profile .additionalInfo > div {
  border: 2px solid white;
  padding: 15px 20px 25px 20px;
}
.profile .additionalInfo h4 {
  color: var(--yellowTextColor);
}
.profile .banner {
  border: 2px solid white;
  height: 120px;
}
.profile .nameBox .imgBox {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  top: 55px;
  left: 25px;
  overflow: hidden;
  border: 2px solid var(--yellowTextColor);
}
.profile .details > div {
  margin-left: 150px;
}
.profile .details .editBtn,
.profile .details .resumeBtn {
  padding: 7px 0;
  border: 2px solid var(--yellowTextColor);
  background: transparent;
  color: var(--yellowTextColor);
  font-weight: bold;
  border-radius: 10px;
}
.profile .details .resumeBtn a {
  text-decoration: none;
  font-size: 18px;
  color: var(--yellowTextColor);
}
.profile .setStatus {
  appearance: none;
  text-align: center;
  border: 2px solid var(--yellowTextColor);
  background: transparent;
  color: var(--yellowTextColor);
  font-weight: bold;
  width: 110px;
  padding: 3px 0px 7px 0px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 21px;
}
.profile .setStatus option {
  padding: 0;
  font-weight: bold;
}
.profile .setStatus option.pending,
.profile .setStatus.pending {
  color: var(--yellowTextColor);
  border-color: var(--yellowTextColor);
}
.profile select:focus {
  outline: none;
}
.profile .setStatus option.rejected,
.profile .setStatus.rejected {
  color: red;
  border-color: red;
}
.profile .setStatus option.accepted,
.profile .setStatus.accepted {
  color: #00ff99;
  border-color: #00ff99;
}

.profile .info {
  overflow-y: scroll;
}
.profile .info::-webkit-scrollbar {
  display: none;
}
.profile .info .nameBox,
.profile .info .aboutBox,
.profile .info .ExperienceBox,
.profile .info .educationBox,
.profile .info .skillBox {
  border: 2px solid white;
}
.profile .info .ExperienceBox .imgBox,
.profile .info .educationBox .imgBox {
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
  flex-shrink: 0;  
  border: 2px solid white;
}
.profile .info .ExperienceBox .imgBox img,
.profile .info .educationBox .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile .skillBox .skillTag {
  border: 2px solid var(--yellowTextColor);
  color: var(--yellowTextColor);
  border-radius: 100px;
}

.editProfile .formRow {
  display: flex;
  margin-top: 20px;
}

.editProfile .formGroup {
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.editProfile .heading {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.editProfile .formGroup > label {
  font-size: 24px;
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.editProfile .formGroup > input {
  margin-top: 7px;
  width: 95%;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  background: transparent;
  color: white;
  padding: 5px 10px 5px 10px;
}
.editProfile .formGroup > input:focus,
.editProfile textarea:focus {
  border: 2px solid var(--yellowTextColor);
}
.editProfile textarea {
  width: 98%;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  background: transparent;
  color: white;
  padding: 5px 10px 5px 10px;
}
.editProfile .formGroup select {
  width: 95%;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  background: transparent;
  color: white;
  padding: 5px 10px 5px 10px;
}
.editProfile .formGroup option {
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  background: #1c1c1c;
  color: white;
  padding: 5px 10px 5px 10px;
}
.editProfile .saveBtn {
  border: 3px solid var(--yellowTextColor);
  color: var(--yellowTextColor);
  background: transparent;
  width: 80%;
  height: 49px !important;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
}
.editProfile .saveBtnText{
  color: var(--yellowTextColor);
}
.editProfile .endBtn {
  justify-content: center;
}
.editProfile .uploadBox .formRow {
  flex-direction: column;
  border: 2px solid white;
  border-radius: 20px;
  width: 97%;
  padding: 5px 5px 20px 20px;
}
.editProfile .uploadBox .formGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.editProfile .uploadBox input {
  border: none;
}
.editProfile .uploadBox label {
  width: 22%;
}
.editProfile .Tag {
  color: white;
  border: 2px solid white;
  border-radius: 40px;
}
.editProfile .formGroup input,
.editProfile .formGroup select,
.editProfile textarea {
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.03);
  color: white;
  outline: none;
}

.editProfile .formGroup input:focus,
.editProfile .formGroup select:focus,
.editProfile textarea:focus {
  border-color: var(--yellowTextColor);
  box-shadow: 0 0 6px var(--yellowTextColor);
}

.editProfile .uploadBox input[type="file"]::file-selector-button {
  background-color: var(--yellowTextColor);
  color: black;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 12px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}
.editProfile .uploadBox input {
  width: 80%;
}
.editProfile .cancelIcon {
  color: red;
}
.editProfile .heading::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--yellowTextColor);
  border-radius: 2px;
  margin-top: 5px;
}
.editProfile .addBtn {
  right: 5%;
  font-size: 50px;
  background: none;
  border: 0;
  color: white;
}
.jobDetail .imgBox {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.jobDetail .applyBtn {
  width: 150px;
  height: 43px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  background-color: var(--yellowTextColor);
}
.jobDetail .jobHead,
.jobDetail .companyDetail,
.jobDetail .jobBody {
  border: 2px solid white;
}
.jobDetail .skillTag {
  border: 2px solid var(--yellowTextColor);
  border-radius: 50px;
  color: var(--yellowTextColor);
  font-size: 18px;
}

.jobDetail .boxTitles {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}

.jobDetail .boxTitles::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: var(--yellowTextColor);
  border-radius: 2px;
  margin-top: 5px;
}

.profile .backBtn,
.jobDetail .backBtn,
.editProfile .backBtn {
  min-width: 110px;
  color: var(--yellowTextColor);
  border: 2px solid var(--yellowTextColor);
  background: transparent;
}

.profile .backBtn:hover,
.jobDetail .backBtn:hover,
.editProfile .backBtn:hover {
  background-color: var(--yellowTextColor);
  color: #000;
}
.jobDetail strong {
  text-transform: uppercase;
}
.status.pending,
.jobApply .status .pending {
  color: var(--yellowTextColor);
  border: 2px solid var(--yellowTextColor);
}
.status.accepted,
.jobApply .status .accepted {
  border: 2px solid #00ff99;
  color: #00ff99;
}
.status.rejected,
.jobApply .status .rejected {
  color: red;
  border: 2px solid red;
}

.jobApply .actionBox .btn {
  border: none;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 19px;
}

.jobApply .actionBox .btn-view {
  background-color: #4caf50;
  color: #fff;
}

.jobApply .actionBox .btn-delete {
  background-color: #f44336;
  color: #fff;
}

.uploadImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;  
}
.imgBox {
  overflow: hidden;
  border-radius: 50%;
  object-position: center;
  object-fit: fill;
  flex-shrink: 0;  
}
.companyLogo {
  width: 100%;
  height: 100%;
}
.jobApply .companyName,
.findJob .companyName {
  cursor: pointer;
}

.jobSeekerPage .dropMenu {
  display: none;
  border: 1px solid red;
  max-width: 29%;
  color: red;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  padding: 2px 0 4px 15px;
  background: rgba(255, 255, 255, 0.03);
  animation: exitBoxAni 0.5s ease forwards;
}
@keyframes exitBoxAni {
  0% {
    transform: translateX(-70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.jobSeekerPage .loginBox:hover > .dropMenu {
  min-width: 90%;
  font-size: 20px !important;
  display: flex;
  cursor: pointer;
  align-items: center;
  background: transparent;
}

.jobSeekerPage .menuIcon {
  font-size: 55px;
}
.jobSeekerPage .phoneMenu {
  background-color: #1c1c1c;
  border-right: 3px solid white;
  transform: translateX(-100%);
  width: 350px;
  height: 100%;
  z-index: 400;
}

.phoneMenu.menuOpen {
  animation: menuOpen 0.4s ease forwards;
}

.phoneMenu.menuClose {
  animation: menuClose 0.4s ease forwards;
}

@keyframes menuOpen {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes menuClose {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.jobSeekerPage .profile .img2 {
  width: 70px;
  height: 70px;
  flex-shrink: 0;  
}
.jobSeekerPage .applicationStatus .databox h1 {
  font-size: 45px;
  font-weight: bolder;
}
.jobSeekerPage .findJob .jobCard {
  position: relative;
  background: #1c1c1c;
  border: 1px solid var(--yellowTextColor) !important;
}

.jobSeekerPage .findJob .jobCard .detailItem .icon {
  color: var(--yellowTextColor);
}

@property --angle1 {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --angle2 {
  syntax: "<angle>";
  initial-value: 180deg;
  inherits: false;
}

.jobSeekerPage .findJob .jobCard::after,
.jobSeekerPage .findJob .jobCard::before,
.jobSeekerPage .applicationStatus .databox > div::after,
.jobSeekerPage .applicationStatus .databox > div::before,
.jobSeekerPage .applicationStatus .pieGraphBox > div::after,
.jobSeekerPage .applicationStatus .pieGraphBox > div::before {
  content: "";
  position: absolute;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  top: -4px;
  left: -4px;
  z-index: -2;
  border-radius: 10px;
  animation: roundMove 5s linear infinite;
}
.jobSeekerPage .applicationStatus .databox > div,
.jobSeekerPage .applicationStatus .pieGraphBox > div {
  position: relative;
  background: #1c1c1c;
  border-radius: 10px;
  border: 1px solid var(--yellowTextColor) !important;
}

.jobSeekerPage .applicationStatus .databox > div::after,
.jobSeekerPage .applicationStatus .pieGraphBox > div::after,
.jobSeekerPage .findJob .jobCard::after {
  --angle1: 0deg;
  background-image: conic-gradient(
    from var(--angle1),
    transparent 74%,
    var(--yellowTextColor)
  );
}
.jobSeekerPage .applicationStatus .databox > div::before,
.jobSeekerPage .applicationStatus .pieGraphBox > div::before,
.jobSeekerPage .findJob .jobCard::before {
  --angle2: 180deg;
  background-image: conic-gradient(
    from var(--angle2),
    transparent 74%,
    var(--yellowTextColor)
  );
}

@keyframes roundMove {
  from {
    --angle1: 0deg;
    --angle2: 180deg;
  }
  to {
    --angle1: 360deg;
    --angle2: 540deg;
  }
}

.jobSeekerPage .findJob .jobCard:hover::after,
.jobSeekerPage .findJob .jobCard:hover::before {
  display: none;
}
.jobSeekerPage .findJob .jobCard:hover {
  box-shadow: 0 2px 25px rgba(255, 189, 32, 0.3);
  transform: translateY(-10px);
}

@media only screen and (max-width: 470.98px) {
  .menuIcon {
    font-size: 43px !important;
  }

  .dbList .nameBox {
    width: 74%;
  }
  .dbList .statusBox {
    display: none !important;
  }
  .dbList .dateBox {
    display: none !important;
  }
  .jobSeekerPage .applicationStatus > div > div > div {
    background-color: #f44336;
    width: 48%;
    justify-content: center;
  }
  .jobSeekerPage .applicationStatus .databox > div {
    border: 2px solid white;
    margin-bottom: 6px;
    padding: 0 10px;
  }
  .jobSeekerPage .applicationStatus .databox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .jobSeekerPage .rah {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
  }
  .jobSeekerPage .phoneMenu {
    width: 240px;
  }
  .menuIcon {
    font-size: 50px !important;
  }
  .jobSeekerPage .logo {
    width: 32px;
  }
  .jobSeekerPage .logoName {
    font-size: 26px !important;
  }
  .loginBox .menuImgBox {
    width: 40px !important;
    height: 40px !important;
    flex-shrink: 0;  
  }
  .loginBox .personName {
    font-size: 17px !important;
  }
  .loginBox .emailId {
    display: none;
  }
  .menuList .menuItem {
    font-size: 20px !important;
    margin-bottom: 5px;
    padding: 8px 0 8px 0px !important;
  }
  .menuList .menuIcon {
    font-size: 26px !important;
  }
  .menuImgBox {
    width: 30px !important;
    height: 30px !important;
    flex-shrink: 0;  
  }
  .loginBox .personName {
    font-size: 14px;
  }
  .loginBox .emailId {
    font-size: 12px;
  }
  .jobSeekerPage .pageTitle {
    font-size: 28px !important;
    margin: auto 0;
  }
  .jobSeekerPage .PhoneMenuIcon {
    font-size: 30px !important;
  }

  .findJob .filterInput {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .findJob .filterInput > div {
    margin-bottom: 10px;
  }
  .findJob .jobList .jobCard {
    width: 98%;
  }
  .findJob .jobTitleBox {
    width: 97%;
  }
  .findJob .LocationBox {
    width: 97%;
  }
  .findJob .jobTypeBOX {
    width: 48%;
  }
  .findJob .ExperienceBOX {
    width: 48%;
  }
  .findJob .field select {
    width: 80%;
  }
  .findJob .field select option {
    font-size: 15px;
  }
  .jobApply .field input,
  .jobApply .field select {
    font-size: 20px;
    margin-left: 5px;
  }
  .jobApply .field select option {
    font-size: 17px !important;
  }
  .jobApply .filterBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .jobApply .filter {
    margin-left: 23% !important;
    width: 52%;
  }
  .jobApply .jobTitleBox {
    width: 100%;
    margin-bottom: 5px;
  }
  .jobApply .tableContainer {
    height: 69vh !important;
  }
  .jobApply th {
    font-size: 15px;
  }
  .jobApply .imgBox {
    width: 40px;
    height: 40px;
    flex-shrink: 0;  
  }
  .jobApply td {
    font-size: 15px;
  }
  th,
  td {
    padding: 10px 14px !important;
  }
  .profile .info {
    width: 100%;
    height: 100%;
    overflow-y: none !important;
  }

  .profile .additionalInfo {
    height: 38vh;
    width: 100%;
    margin-top: 20px;
  }
  .profile .additionalInfo > div {
    width: 100%;
    margin-top: 10px;
  }
  .profile .nameBox .userName {
    font-size: 19px;
  }
  .profile .details > div {
    margin-left: 130px;
  }
  .profile .nameBox p {
    font-size: 14px;
  }
  .profile .details .btnBox {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
  .profile .details .btnBox button {
    width: 49%;
    margin-bottom: 10px;
  }
  .profile .setStatus{
    width: 49%;
    margin-bottom: 10px;
  }
  .jobSeekerPage .profile .img2 {
    max-width: 60px;
    max-height: 60px;
    flex-shrink: 0;  
  }

  .jobDetail .jobHead button {
    margin-top: 20px;
    width: 100%;
  }
  .jobDetail .pageTitle {
    font-size: 28px !important;
  }
  .editProfile .formRow {
    display: block;
    margin-top: 0;
  }
  .editProfile .formGroup {
    width: 100%;
    margin-top: 25px;
  }
  .editProfile .saveBtn {
    width: 95%; 
  }
  .editProfile .uploadBox .formGroup {
    display: block;
    width: 100%;
  }
  .editProfile .labelDot {
    display: none;
  }
  .editProfile .uploadBox label,
  .editProfile .uploadBox input {
    width: 98%;
  }
  .editProfile .uploadBox .formRow {
    padding-bottom: 30px;
  }
  .jobSeekerPage .menuContent {
    padding: 0 10px;
  }
  .jobSeekerPage .loginBox:hover > .dropMenu {
    font-size: 19px !important;
  }

  .jobSeekerPage .applicationStatus .databox > div::after,
  .jobSeekerPage .applicationStatus .databox > div::before,
  .jobSeekerPage .applicationStatus .pieGraphBox > div::after,
  .jobSeekerPage .applicationStatus .pieGraphBox > div::before {
    display: none;
  }
  .jobSeekerPage .heading h3 {
    font-size: 25px;
  }
  .jobSeekerPage .heading p {
    font-size: 13px;
  }
  .profile .nameBox .banner {
    height: 100px;
  }
  .profile .nameBox .imgBox {
    width: 80px;
    height: 80px;
    top: 57px;
    left: 25px;
  }

  .jobDetail .jobHead .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
  }
  .jobDetail .jobHead .companyRole {
    font-size: 22px;
  }
  .jobDetail .imgBox {
    width: 74px;
    height: 70px;
  }
  .jobDetail .applyBtn {
    height: 32px;
    font-size: 17px;
  }
  .jobDetail .boxTitles {
    font-size: 25px;
  }
  .jobDetail .boxTitles::after {
    width: 60px;
  }
  .jobDetail .detailItem .icon {
    color: var(--yellowTextColor);
  }
  .jobDetail .jobBody p {
    font-size: 15px !important;
  }
  .jobDetail .skillTag {
    font-size: 17px;
  }
  .editProfile .pageTitle {
    font-size: 35px !important;
  }
  .editProfile .heading {
    font-size: 26px;
  }
  .editProfile .formGroup > label {
    font-size: 19px;
  }
  .editProfile .formGroup > input {
    margin-top: 5px;
    width: 99%;
    font-size: 19px;
    padding: 5px 10px 5px 10px !important;
  }

  .editProfile textarea {
    font-size: 19px;
    padding: 5px 10px 5px 10px !important;
  }
  .editProfile .formGroup select {
    font-size: 19px;
  }
  .editProfile .formGroup option {
    font-size: 19px;
  }
  .editProfile .saveBtn {
    width: 95%;
  }
  .editProfile .uploadBox .formRow {
    border: none;
    padding: 0;
  }
  .editProfile .uploadBox label {
    width: 90%;
  }
  .editProfile textarea {
    margin: 0 !important;
  }
  .editProfile .uploadBox input[type="file"]::file-selector-button {
    font-size: 17px;
    margin-right: 9px;
  }
  .editProfile .heading::after {
    width: 40px;
  }
  .editProfile .addBtn {
    top: -10px;
    font-size: 32px;
  }

  .jobApply .status span {
    font-size: 15px;
    padding: 3px 10px;
  }
  .jobApply .actionBox .btn {
    font-size: 16px;
    padding: 3px 10px;
  }
  .profile .boxHead {
    font-size: 29px;
  }
  .profile .boxHead::after {
    width: 50px;
  }

  .dbList .imgBox {
    width: 60px;
    height: 60px;
  }
  .dbList > div {
    margin-top: 7px;
    padding-left: 3%;
    border: 1px solid white;
  }
  .dbList .nameBox {
    font-size: 12px;
  }
  .dbList h4 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 470.98px) and (max-width: 575.98px) {
  .dbList .nameBox {
    width: 77%;
  }
  .dbList .statusBox {
    display: none !important;
  }
  .dbList .dateBox {
    display: none !important;
  }
  .jobSeekerPage .applicationStatus > div > div > div {
    width: 48.5%;
    justify-content: center;
  }
  .jobSeekerPage .applicationStatus > div > div {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between !important;
  }
  .jobSeekerPage .pageTitle {
    font-size: 36px !important;
  }
  .jobSeekerPage .PhoneMenuIcon {
    font-size: 35px !important;
  }

  .findJob .filterInput {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .findJob .filterInput > div {
    margin-bottom: 10px;
  }
  .findJob .jobList .jobCard {
    width: 98%;
  }
  .findJob .jobTitleBox {
    width: 48%;
  }
  .findJob .LocationBox {
    width: 48%;
  }
  .findJob .jobTypeBOX {
    width: 48%;
  }
  .findJob .ExperienceBOX {
    width: 48%;
  }
  .jobApply .field input,
  .jobApply .field select {
    font-size: 20px;
    margin-left: 5px;
  }
  .jobApply .field select option {
    font-size: 17px !important;
  }
  .jobApply .filter {
    width: 35%;
  }
  .jobApply .jobTitleBox {
    width: 60%;
  }
  .jobApply th {
    font-size: 16px;
  }
  .jobApply .imgBox {
    width: 45px;
    height: 45px;
  }
  .jobApply td {
    font-size: 15px;
  }
  th,
  td {
    padding: 10px 14px !important;
  }
  .profile .info {
    width: 100%;
    height: 100%;
    overflow-y: none !important;
  }

  .profile .additionalInfo {
    height: 38vh;
    width: 100%;
    margin-top: 20px;
  }
  .profile .additionalInfo > div {
    width: 100%;
    margin-top: 10px;
  }
  .profile .details .btnBox {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
  .profile .details .btnBox button {
    width: 49%;
    margin-bottom: 10px;
  }
  .profile .setStatus{
    width: 49%;
    margin-bottom: 10px;
  }
  .jobSeekerPage .loginBox:hover > .dropMenu {
    font-size: 18px !important;
  }

  .jobSeekerPage .applicationStatus .databox > div::after,
  .jobSeekerPage .applicationStatus .databox > div::before,
  .jobSeekerPage .applicationStatus .pieGraphBox > div::after,
  .jobSeekerPage .applicationStatus .pieGraphBox > div::before {
    display: none;
  }
  .jobSeekerPage .heading h3 {
    font-size: 27px;
  }
  .jobSeekerPage .heading p {
    font-size: 15px;
  }
  .profile .nameBox .imgBox {
    width: 90px;
    height: 90px;
    top: 75px;
    left: 25px;
  }

  .editProfile .pageTitle {
    font-size: 35px !important;
  }
  .editProfile .heading {
    font-size: 26px;
  }
  .editProfile .formGroup > label {
    font-size: 19px;
  }
  .editProfile .formGroup > input {
    margin-top: 5px;
    width: 99%;
    font-size: 19px;
    padding: 5px 10px 5px 10px !important;
  }

  .editProfile textarea {
    font-size: 19px;
    padding: 5px 10px 5px 10px !important;
  }
  .editProfile .formGroup select {
    font-size: 19px;
  }
  .editProfile .formGroup option {
    font-size: 19px;
  }
  .editProfile .saveBtn {
    width: 95%;
  }
  .editProfile .uploadBox .formRow {
    border: none;
    padding: 0;
  }
  .editProfile .uploadBox label {
    width: 90%;
  }
  .editProfile textarea {
    margin: 0 !important;
  }
  .editProfile .uploadBox input[type="file"]::file-selector-button {
    font-size: 17px;
    margin-right: 9px;
  }
  .editProfile .heading::after {
    width: 40px;
  }
  .editProfile .addBtn {
    top: -10px;
    font-size: 32px;
  }

  .jobApply .status span {
    font-size: 16px;
    padding: 3px 10px;
  }
  .jobApply .actionBox .btn {
    font-size: 17px;
    padding: 3px 10px;
  }
  .profile .boxHead {
    font-size: 29px;
  }
  .profile .boxHead::after {
    width: 50px;
  }
  .menuImgBox {
    width: 40px !important;
    width: 40px !important;
  }
  .loginBox .personName {
    font-size: 17px;
  }
}

@media only screen and (min-width: 470.98px) and (max-width: 767.98px) {
  .pageTitle {
    font-size: 30px !important;
  }
  .menuIcon {
    font-size: 45px !important;
  }

  .jobSeekerPage .applicationStatus .databox > div {
    border: 2px solid white;
    margin-bottom: 6px;
  }
  .jobSeekerPage .applicationStatus .databox {
    display: flex;
    justify-content: space-evenly;
  }
  .jobSeekerPage .phoneMenu {
    width: 250px;
  }
  .pageTitle {
    font-size: 40px !important;
  }
  .jobSeekerPage .logo {
    width: 35px;
  }
  .jobSeekerPage .logoName {
    font-size: 30px !important;
    background-color: none;
  }
  .menuList .menuItem {
    font-size: 20px !important;
    margin-bottom: 5px;
  }
  .menuList .menuIcon {
    font-size: 27px !important;
  }
  .loginBox .personName {
    font-size: 16px;
  }
  .loginBox .emailId {
    display: none;
  }
  .jobDetail .jobHead button {
    margin-top: 20px;
    width: 100%;
  }
  .jobDetail .pageTitle {
    font-size: 45px !important;
  }
  .editProfile .formRow {
    display: block;
    margin-top: 0;
  }
  .editProfile .formGroup {
    width: 100%;
    margin-top: 25px;
  }
  .editProfile .saveBtn {
    width: 90%;
  }
  .editProfile .uploadBox .formGroup {
    display: block;
    width: 100%;
  }
  .editProfile .labelDot {
    display: none;
  }
  .editProfile .uploadBox label,
  .editProfile .uploadBox input {
    width: 98%;
  }
  .editProfile .uploadBox .formRow {
    padding-bottom: 30px;
  }
  .jobSeekerPage .menuContent {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 662px) {

  .profile .details {
    display: block !important;
  }
  .profile .details .btnBox {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
  .profile .setStatus{
    width: 49%;
    margin-bottom: 10px;
  }
  .profile .details .btnBox button {
    width: 49%;
    margin-bottom: 10px;
  }
  .jobApply .actionBox .btn {
    font-size: 17px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .dbList .nameBox {
    width: 57%;
  }
  .dbList .statusBox {
    width: 20%;
    margin-right: 10px;
  }
  .dbList .dateBox {
    display: none !important;
  }
  .jobSeekerPage .phoneMenu {
    width: 250px;
  }
  .pageTitle {
    font-size: 40px !important;
  }
  .menuIcon {
    font-size: 50px !important;
  }
  .jobSeekerPage .logo {
    width: 35px;
  }
  .jobSeekerPage .logoName {
    font-size: 30px !important;
  }
  .menuList .menuItem {
    font-size: 20px !important;
  }
  .menuList .menuIcon {
    font-size: 27px !important;
  }
  .menuImgBox {
    width: 40px !important;
    height: 40px !important;
  }
  .loginBox .personName {
    font-size: 17px;
  }
  .jobSeekerPage .PhoneMenuIcon {
    font-size: 45px !important;
  }
  .findJob .ExperienceBOX {
    display: none;
  }
  .findJob .filterInput {
    justify-content: end;
    gap: 10px;
  }
  .findJob .jobTypeBOX {
    width: 23%;
  }
  .findJob .jobList .jobCard {
    width: 99%;
  }
  .jobApply .field input,
  .jobApply .field select {
    font-size: 25px;
    margin-left: 5px;
  }
  .jobApply .field select option {
    font-size: 17px !important;
  }
  .jobApply .filter {
    width: 24%;
  }
  .jobApply .jobTitleBox {
    width: 45%;
  }
  .jobApply th {
    font-size: 17px;
  }
  .jobApply .imgBox {
    width: 40px;
    height: 40px;
  }
  .jobApply td {
    font-size: 16px;
  }
  th,
  td {
    padding: 10px 14px !important;
  }
  .profile .info {
    width: 100%;
    height: 100%;
    overflow-y: none !important;
  }

  .profile .additionalInfo {
    height: 38vh;
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
  }
  .profile .additionalInfo > div {
    width: 49%;
  }
  .jobDetail .jobHead button {
    margin-top: 20px;
    width: 100%;
  }
  .editProfile .formRow {
    display: block;
    margin-top: 0;
  }
  .editProfile .formGroup {
    width: 100%;
    margin-top: 25px;
  }
  .editProfile .saveBtn {
    width: 90%;
  }
  .editProfile .uploadBox .formGroup {
    display: block;
    width: 100%;
  }
  .editProfile .labelDot {
    display: none;
  }
  .editProfile .uploadBox label,
  .editProfile .uploadBox input {
    width: 98%;
  }
  .editProfile .uploadBox .formRow {
    padding-bottom: 30px;
  }
  .jobSeekerPage .menuContent {
    padding: 0 10px;
  }
  .jobSeekerPage .loginBox:hover > .dropMenu {
    font-size: 15px !important;
  }
  .jobSeekerPage .applicationStatus > div > div {
    margin-bottom: 14px;
  }
  .jobSeekerPage .applicationStatus > div > div > div {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .jobSeekerPage .applicationStatus > div > div > div {
    width: 49%;
    display: flex;
    justify-content: center;
  }
  .jobSeekerPage .applicationStatus > div > div {
    display: flex;
    width: 50%;
  }
  .jobSeekerPage .applicationStatus .databox > div {
    border: 2px solid white;
    margin-bottom: 23px;
    padding: 0 19px;
  }
  .jobSeekerPage .applicationStatus .databox {
    display: flex;
    justify-content: space-evenly;
  }
  .dbList .nameBox {
    width: 45%;
  }
  .dbList .statusBox {
    width: 20%;
  }
  .dbList .dateBox {
    width: 17%;
  }
  .jobSeekerPage .phoneMenu {
    width: 300px;
  }
  .jobSeekerPage .PhoneMenuIcon {
    font-size: 50px !important;
  }
  .findJob .ExperienceBOX {
    display: none;
  }
  .findJob .filterInput {
    justify-content: end;
    gap: 10px;
  }
  .findJob .jobTypeBOX {
    width: 18%;
  }
  .findJob .jobList .jobCard {
    width: 48%;
  }
  .findJob .jobTitleBox {
    width: 34%;
  }
  .findJob .LocationBox {
    width: 34%;
  }
  .findJob .jobTypeBOX {
    width: 22%;
  }
  .jobApply .tableContainer {
    height: 79vh;
  }
  .jobApply .tableContainer td {
    padding: 10px 20px;
  }
  .jobApply .field input,
  .jobApply .field select {
    font-size: 22px;
  }
  .jobApply .field select option {
    font-size: 16px !important;
  }
  .jobApply .filter {
    width: 20%;
  }
  .jobApply .jobTitleBox {
    width: 40%;
  }
  .jobApply th {
    font-size: 18px;
  }
  .jobApply .imgBox {
    width: 40px;
    height: 40px;
  }
  .jobApply td {
    font-size: 16px;
  }
  th,
  td {
    padding: 10px 14px !important;
  }
  .profile .info {
    width: 100%;
    height: 100%;
    overflow-y: none !important;
  }

  .profile .additionalInfo {
    height: 38vh;
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
  }
  .profile .additionalInfo > div {
    width: 49%;
  }
  .jobSeekerPage .menuContent {
    padding: 0 15px;
  }
  .jobSeekerPage .applicationStatus .databox > div::after,
  .jobSeekerPage .applicationStatus .databox > div::before,
  .jobSeekerPage .applicationStatus .pieGraphBox > div::after,
  .jobSeekerPage .applicationStatus .pieGraphBox > div::before {
    display: none;
  }
}

@media only screen and (max-width: 1199.98px) {
  .jobSeekerPage .menuContent {
    width: 100%;
  }
  .jobApply .tableContainer {
    height: 71vh;
  }
  .jobApply .tableContainer td {
    padding: 9px 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .jobSeekerPage .phoneMenu {
    width: 330px;
  }
  .jobSeekerPage .PhoneMenuIcon {
    font-size: 55px !important;
  }
  .findJob .jobTitleBox {
    width: 30%;
  }
  .findJob .LocationBox {
    width: 30%;
  }
  .findJob .jobTypeBOX {
    width: 17%;
  }
  .findJob .ExperienceBOX {
    width: 17%;
  }
  .jobApply .tableContainer {
    height: 71vh;
  }

  .jobApply .field input,
  .jobApply .field select {
    font-size: 22px;
  }
  .jobApply .field select option {
    font-size: 16px !important;
  }
  .jobDetail {
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {

  .findJob .jobTitleBox {
    width: 31%;
  }
  .findJob .LocationBox {
    width: 31%;
  }
  .findJob .jobTypeBOX {
    width: 17%;
  }
  .findJob .ExperienceBOX {
    width: 17%;
  }
  .jobApply .tableContainer {
    height: 72vh;
  }
}
